<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/password/forgotPassword" method="POST">
        <label>Enter Your Email ID:</label>
        <input type="text" id="email" name="email"><br>
        <button type="submit" id="submit">Submit</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="../js/form-main.js"></script>
</body>
</html>