<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Leaderboard</h1>
    <hr>
    <div class="row">
        <div class="col-lg-3"><h6>Name</h6></div>
        <div class="col-lg-3"><h6>Total Expenses</h6></div>
    </div>
    <hr>
    <ul id="leaderboardList" class="list-group"></ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="../js/leaderboard-main.js"></script>
</body>
</html>